[user]
  name = Justin Gable
  email = justin@justingable.com
[color]
  status = auto
  branch = auto
  # Note: this option can make things slower in large repositories
  showUntrackedFiles = all
  ui = true
[core]
  excludesfile = ~/.global_gitignore
[alias]
  s = status
  b = branch
  c = commit
  cam = commit -am
  co = checkout
  a = add
  df = diff
  l = log
  lo = log --oneline
  lop = log --oneline --first-parent
  st = stash
  stu = stash -u
  sa = stash apply
  rset = remote set-url origin
  radd = remote add origin
  sup = branch --set-upstream-to
[merge]
  # Ensures that you get an error unless every merge is fast-forward. No merge commits, no joining together of two histories, just a smooth progression from commit to commit.
  # ff = only
  # Normally you get two sections in a conflict, this provides a 3rd of the original before the merge
  conflictstyle = diff3
[push]
  default = matching
[pull]
  rebase = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
